py3Env/*
flask/4th_Assignment/my_enviroment
flask/5th_Assignment_Dojo_survey/my_enviroment
flask/6th_Assignment_Dojo_fruit_store/my_enviroment
flask/7th_Assignment_Counter/my_enviroment
flask/8th_Assignment_Great_number_game/my_enviroment
django/django_intro/1sr_Assignment_first_django_project/my_enviroment
django/django_intro/2nd_Assignment_Time_Display/my_enviroment