<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1>Succes! Welcome, {{user.firstname}}!</h1>
    <h2 style="color: green;">Successfully registered (or logged in!)</h2>
    <form action="/logout" method="POST">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    
</body>
</html>