<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="/reset"><button>Reset</button></a>
    </header>
    <div id="header">
        <p>Your Gold</p>
        <div class="gold_holder">
            <div class="gold">
                <p style="display: inline;">{{request.session.gold_amount}}</p>
            </div>
        </div>    
    </div>
<div class="container">
    <form action="/process_money" method="POST" class="location, box">
        {% csrf_token %}
        <h1>Farm</h1>
        <p>(earns 10 to 20 Golds)</p>
        <input type="hidden" name="location" value="farm">
        <input type="submit" value="Find Gold!">
    </form>
    <form action="/process_money" method="POST" class="location, box">
        {% csrf_token %}
        <h1>Cave</h1>
        <p>(earns 5 to 10 Golds)</p>
        <input type="hidden" name="location" value="cave">
        <input type="submit" value="Find Gold!">
    </form>
    <form action="/process_money" method="POST" class="location, box">
        {% csrf_token %}
        <h1>House</h1>
        <p>(earns 2 to 5 Gold)</p>
        <input type="hidden" name="location" value="house">
        <input type="submit" value="Find Gold!">
    </form>
    <form action="/process_money" method="POST" class="location, box">
        {% csrf_token %}
        <h1>Casino</h1>
        <p>(earns/takes 0 to 50 Golds)</p>
        <input type="hidden" name="location" value="casino">
        <input type="submit" value="Find Gold!">
    </form>
</div>
<p>Activities</p>
<div class="activities">
    {% for activity in request.session.activities %}
    <p style="color:{{activity.color}}">{{activity}}</p>
    {% endfor %}
</div>
    
</body>
</html>